polkit.addRule(function(action, subject) {
    if (action.id == "org.freedesktop.NetworkManager.policy") {
        return polkit.Result.YES;
    }
});
