var actions = [
    "org.freedesktop.NetworkManager.",
    "org.freedesktop.udisks2.",
    "org.freedesktop.login1."
];

for (var i = 0; i < actions.length; i++) {
    if (!action.id.startsWith(actions[i])) {
        continue;
    }

    if (subject.local && subject.active && subject.isInGroup("wheel")) {
        return polkit.Result.YES;
    }
    
    break;
}
