polkit.addRule(function(action, subject) {
    if (action.id.startsWith("org.freedesktop.NetworkManager")) {
        return polkit.Result.YES;
    }
});
